* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 255);
}

.tweet {
    display: flex;
    background-color: white;
}

.tweet:not(:last-child) {
    border-bottom: 1px solid rgb(200, 200, 200);
}

.body-container {
    flex: 1;
    padding: 0.5em;
}

.display-adress {
    color: gray;
}

#myTwitter {
    margin: 30px 0px 0px 30px;
}

#form {
    margin: 30px 0px 0px 30px;
}

.name {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
}

.adress {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    width: 130px;
}

label {
    display: block;
    float: left;
    width: 200px;
    position: relative;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}

